header {
    background-color: #1d438e;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 20px 20px;
    font-size: 15px;
    text-decoration: none;
    width: 100%;
    height: 40px;
    margin:0px;
    width: 100%
}

ul {
    display: flex;
    text-shadow: black 1px 0px 10px;
    flex-direction: row;
    list-style-type: none;
}

body {
    width: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: gray;
}

#Emergency_call {
    background: url("homebg.jpg");
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 90vh;
    margin: 0px;
}

.logo {
    height: 27px;
    width: 27px;
}
#About {
    padding: 15px;
    margin: 10px;
    box-shadow: black;
}
@keyframes  typing {

    0% {
        width: 0;
    }
    50% {
  width: 12ch;
    }
}
.description {
    overflow: hidden;
    border-right: 1.5px solid #987070;
    white-space: nowrap;
    width: 222ch;
    animation: typing 8s steps(222) infinite;
    blind: 0.9s step-start infinite;
    
    background-color: #fff;

    font-family: cursive;

    margin-top: 50px;

    text-align: justify;

    padding: 40px;

    box-shadow: 0.5px 0.5px 10px black;

    width: 80%;

    display: flex;

    gap: 20px;
    height:90vh;
    
}
.thank {
    overflow: hidden;
    border-right: 1.5px solid #987070;
    white-space: nowrap;
    width: 26ch;
    animation: typing 8s steps(26) infinite;
    blind: 0.9s step-start infinite;
}
